.modal-header {
  background-color: #007bff;
  color: #fff;
}

.modal-title {
  font-weight: bold;
}

button.btn-primary {
  background-color: #007bff;
  border: none;
  font-size: 1rem;
  font-weight: 600;
}

form .form-control {
  font-size: 0.95rem;
  padding: 10px;
}

form .form-label {
  font-weight: 500;
}
